node_modules/
bun.lockb

dist/
frontend/dist/

data/
*.sqlite
*.sqlite-wal
*.sqlite-shm

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform.tfvars
*/terraform.tfvars

ansible/inventory.ini

.env
*.pem

.DS_Store
*.log
.vscode/
.idea/
